.card {
  $block: &;
  padding: 20px;
  border-radius: 8px;
  border: 1px dotted #cccccc;

  &__tag {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }

  &__headline {

    // #{ $block }--hero & {
    //   margin-top: 0;
    // }
  }

  &--dark {

  }

  &--text-center {
    text-align: center;
  }

  &--no-border {
    border: none;
  }
}
