.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 568px;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(228, 58, 21, .6), rgba(230, 82, 69, .6)), url(https://images.pexels.com/photos/33343/building-joy-planning-plans.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: $white;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 10%;

  @media (min-width: 375px) {
    height: 667px;
  }

  @media (min-width: 414px) {
    height: 736px;
  }

  @media (min-width: $screen-xs) {
    height: 100vh;
  }

  &__tag {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.6;

    @media (min-width: $screen-md) {
      font-size: 18px;
    }
  }

  &__headline {
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 66px;
    }
  }

  &__content {
    font-size: 18px;
    color: $white;

    @media (min-width: $screen-md) {
      font-size: 28px;
      line-height: 38px;
    }
  }
}
