.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, rgba(228, 58, 21, .6), rgba(230, 82, 69, .6)), url(https://images.pexels.com/photos/33343/building-joy-planning-plans.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: $white;
  margin-bottom: 20px;

  &__tag {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__headline {

  }

  &__content {
    font-size: 18px;
    color: $white;
  }
}
